
#navbar{
    background: rgba(250, 250, 250, 0.356);
}

.nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15px;
     background: rgba(250, 250, 250, 0);

    color: black;
 


}
.navlink{
    color: black;
    font-size: x-large;
}
