
/* Container needed to position the overlay. Adjust the width as needed */
/*  */
  
  /* Make the image to responsive */
  .hero-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
  /* Centered text */
  #centered-about {
      position: absolute;
      /* top: 70%; */
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      background: rgb(255, 255, 255, .3);
    }

     /* Centered text */
  #centered-about {
    position: absolute;
    /* top: 70%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    background: rgb(255, 255, 255, .3);
  }
 
   
  
    p {
        font-size: 18px;
        margin: 15px;
        
    }
    h6{
        text-align: center;
    }

a{
    margin: 20px;
}

