

body{
  background-color: mistyrose;
}
 #heading{
  text-align: center;
 }
   
  
    p {
        font-size: 18px;
        margin: 15px;
        
    }
    h6{
        text-align: center;
    }

a{
    margin: 20px;
}

